/* Imported Google Font */
 @import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */

:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Hind", cursive;
    --primary-color: #000000;
    --secondary-color: #14213d;
    --highlight-color: #fca311;
    --highlight-color-light: #e5e5e5;
}

/* Gloabl Styles */

/* Nav bar */
#navbar {
    background-color: #14213d;
    color: #fca311;
}

/* hero */
#hero {
    margin-top: 59.7px;
}

#hero h1 {
    font: var(--primary-font);
    font-size: 60px;
}

/* Footer / Contact */

#contact {
    
    background-color:#14213d;
    color: #fca311;
    padding-bottom: 3rem;
}

#contact h2 {
    color: #fca311;
}




#contact .social-links i {
    color: #fca311;
    font-size: 1.9rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: #e5e5e5;
}

